@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

.cocktaildetail {
    margin: auto;
}

.cocktaildetail-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    padding: 2rem;
    border-radius: 8px;
}

.cocktaildetail-right {
    background-color: rgb(255, 247, 237);
    border-radius: 4px;
    width: 40%;
    padding: 2rem;
}

.cocktaildetail-left {
    background-color: rgb(255, 247, 237);
    padding: 2rem;
    border-radius: 4px;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cocktaildetail-img {
    display: block;
    height: auto;
    width: 30vw
}

.cocktaildetail-title {
    font-family: 'Dancing Script';
    text-align: center;
    margin: 4rem 0;
    font-size: 2.2rem;
    font-weight: 700;
}

.cocktaildetail-undertitle {
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: 10px;
}

.cocktaildetail-line {
    margin: 1.5rem 0;
}

.cocktaildetail-ingredient li{
    list-style-type: disc;
    list-style-position: inside;
    font-weight: 500;
    padding: 5px 0;
}

.cocktaildetail-measure {
    font-weight: bold;
}

.loading-section {
    margin: 20vh 0;
    text-align: center;
}

.backhome {
    display: flex;
    height: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.button-back {
    all: unset;
    padding: 0.5rem 2rem;
    background-color: #960000;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 870px) {
    
    .cocktaildetail-container {
        flex-direction: column;
    }

    .cocktaildetail-left {
        margin: 0;
    }

    .cocktaildetail-right {
        width: auto;
    }

    .cocktaildetail-title {
        margin: 0 0 1rem 0;
    }

}