.history {
    margin: 0 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.history-title {
    font-size: 2rem;
}

.history-small {
    margin-bottom: 2rem;
}

.history-image {
    height: auto;
    width: 32vw;
    box-shadow: -12px 12px 13px 2px #919191;
    border-radius: 10px;
}

.history-bold {
    font-weight: 700;
}

.history-italic {
    font-style: italic;
}

.history-book {
    all: unset;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: #960000;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}

.history-right {
    width: 50%;
}

@media screen and (max-width: 870px) {
    .history {
        margin: 2rem 5vw;
        flex-direction: column-reverse;
        text-align: center;
    }

    .history-text {
        text-align: left;
    }

    .history-right {
        width: fit-content;
    }

    .history-image {
        margin-top: 3rem;
        width: 63vw;
    }
}