.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    margin-left: 4vw;
}

.hero-title{
    font-weight: 500;
    font-size: 2.5vw;
}

.hero-text {
    font-size: 1.2vw;
    margin-top: 1.2vw;
}

.hero-red-text {
    color: #da5c5c;
    font-weight: 600;
}

.hero-cta {
    all: unset;
    background-color: #FFA1A1;
    color: white;
    border-radius: 8px;
    padding: 5px 50px;
    font-weight: 500;
    font-size: 1.1vw;
    margin-top: 4.5vh;
    display: block;
    cursor: pointer;
}

.hero-image {
    width: 40%;
    height: auto;
    margin-top: 5vh;
    margin-right: 4vw;
}

.hero-rectangle {
    position: absolute;
    z-index: -1;
    top: 2vh;
    left: 0;
    height: 100%;
}

.hero-draw {
    background-image: url('../../assets/hero-draw.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 12rem;
    padding-bottom: 1rem;
}

.hero-yellow-text {
    color: #FFDC99;
}

@media screen and (max-width: 768px) {
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
    }
}