header {
    margin: 0 5vw;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.nav-item {
    margin: 0 1rem;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
}

.nav-item:hover {
    color: #960000;
}

.nav-search {
    background-color: #F3F3F3;
    padding: 5px 0 5px 8px;
    border: #D2D2D2 solid 1px;
    border-radius: 8px;
    display: flex;
    align-items: center; 
}

.nav-search-input {
    all: unset;
    margin-left: 10px;
}

.header-logo {
    width: auto;
    height: 5vw;
}

.burger-menu {
    display: none;
    width: 1.3rem;
}

@media screen and (max-width: 870px) {
    .nav-menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        background-color: #e4e4e4a1;
        top: 0;
        left: 0;
        height: 25%;
        backdrop-filter: blur(5px);
        justify-content: center;
        margin-left: -100%;
    }

    .nav-item {
        margin: 8px 0;
    }

    .burger-menu {
        display: block;
        position: absolute;
        right: 5%;
    }

    .mobile-menu {
        margin-left: 0;
    }
}