.cocktail-card {
    display: flex;
    border: 2px solid #cfcfcf99;
    border-radius: 10px;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    -webkit-animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.05s both;
	        animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.05s both;
}

.cocktail-card-info {
    display: flex;
    justify-content: space-between;
}

.cocktail-card-img {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    height: auto;
    width: 150px;
    margin: auto;
}

.cocktail-card-title {
    font-family: 'Dancing Script';
    font-weight: 700;
    text-align: center;
    font-size: 1.8rem;
    color: #353535;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.cocktail-card-small {
    color: #4d4d4d;
    margin-bottom: 1rem;
}

.cocktail-card-button {
    background-color: transparent;
    padding: 0.5rem 1.3rem;
    border: 2px solid #960000;
    color: #960000;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Kodchasan';
    font-weight: 500;
}

.cocktail-card-button:hover {
    background-color: #960000;
    color: white;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
