.cocktail-card {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(225deg, #cfcfcf99, white) 1;
    margin: auto;
    padding: 2rem;
}

.cocktail-card-title {
    font-style: italic;
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
    color: #353535;
    padding-top: 0.5rem;
    word-break: break-all;
}