.cocktail-card {
    display: flex;
    border: 2px solid #cfcfcf99;
    border-radius: 10px;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.cocktail-card-info {
    display: flex;
    flex-direction: column;
}

.cocktail-card-img {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
}

.cocktail-card-title {
    font-style: italic;
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
    color: #353535;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.cocktail-card-small {
    color: #4d4d4d;
    margin-bottom: 1rem;
}

.cocktail-card-button {
    background-color: #363636;
    padding: 0.8rem 1.3rem;
    background-image: url('../../assets/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.8rem;
    border: none;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}

.cocktail-card-square {
    width: 41rem;
    height: 12rem;
    background-color: #FFEAEA;
    position: absolute;
    z-index: -1;
    margin-left: 22rem;
    margin-top: -3rem;
}