footer {
    background-color: #FFAD7E;
    color: white;
    font-size: 1.2rem;
}

.footer-upper {
    display: flex;
    justify-content: space-around;
    padding: 10vh 0;
}

.footer-logo {
    width: auto;
    height: 5vw;
}

.footer-bar {
    height: 2px;
    background-color: white;
    border: none;
    width: 75%;
    margin: auto;
}

.footer-text {
    width: 30%;
}

.footer-icon-section {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.footer-icon {
    height: auto;
    width: 40px;
    margin: 0 10px;
}

.footer-menu li{
    list-style-type: disc;
    margin: 5px 0;
}

@media screen and (max-width: 520px) {
    .footer-upper {
        flex-direction: column;
        align-items: center;
        padding: 6vh 0;
    }

    .footer-text {
        width: 90%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 870px) {
    .footer-logo {
        display: none;
    }
}